c-white = #fff
c-background = #f3f4eb
c-strong = #412917
c-border = #cbc5c0
c-gray = #dedede

.fa-grip,
.fa-grip:before,
.fa-grip:after
  background-color c-background
  border-color c-gray
  border-style solid
  border-width 0pt 1px 1px
  cursor s-resize
  overflow hidden

.fa-grip
  height 9px

.fa-grip:before,
.fa-grip:after
  height 3px
  display block
  content ''

.fa-textarea
  resize none

.fa-textarea-resizing
  opacity 0.75
