c-brown = #412917
c-pink = #d37092

tooltip()
  padding 8px 10px
  line-height 12px
  white-space nowrap
  text-decoration none
  text-indent 0
  overflow visible

  font-size 12px
  font-weight normal
  color #fff
  text-shadow 1px 0px 1px #888
  background-color c-brown
  border-left 6px solid c-pink

  box-shadow 1px 2px 6px rgba(#000, 0.3)
  box-radius 2px
