ht-background = #412917
ht-border = #d37092

tooltip()
  padding 8px 10px
  line-height 15px
  white-space nowrap
  text-decoration none
  text-indent 0
  overflow visible

  font-size 12px
  font-weight normal
  color #fff
  text-shadow 1px 0px 1px #888
  background-color ht-background
  border-left 6px solid ht-border
  border-radius 2px

  box-shadow 1px 2px 6px rgba(#000, 0.3)
